body .v-application a,
a {
    color: #3497fd;
    text-decoration: none;
    transition: color .4s ease-out, opacity .4s ease-out;
    will-change: color;
}

.v-main .v-main__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-content.v-card {
    align-self: center;
    align-items: baseline;
    margin: 15px;
}

.v-content__wrap {
    margin: 10px auto!important;
    max-width: 1100px!important;
    padding: 10px 30px;
}

.v-content__wrap > h1 {
    color: #737373;
    font-size: 1.4em;
}

.v-content__wrap > h1 .v-icon.material-icons {
    margin: -1px 7px 0 0;
}

.v-data-table th.text-left,
.v-data-table th.text-center,
.v-data-table th.text-right,
.v-data-table td.text-right {
    white-space: nowrap;
}

.v-content .v-content__wrap .v-input--selection-controls {
    margin-top: 0;
    padding-top: 0;
}

.v-data-table tr {
    transition: background .8s ease-out, color .8s ease-out;
}

.mini-description {
    color: #AAA;
    display: inline-block;
    font-size: 10px;
    line-height: 12px;
}

.copyright {
    font-size: .8em;
}

.copyright .material-icons {
    color: rgba(0, 0, 0, 0.54);
    vertical-align: middle;
}

.copy-button {
    color: #4e98f9;
    cursor: pointer;
    font-size: 1.1em;
    margin: 0 4px;
    transition: color .4s ease-out;
    vertical-align: middle;
    user-select: none;
    will-change: color;
}

.notifications,
.vue-notification-group {
    margin-top: 40px;
}

.v-application .vue-notification.error {
    background: #e54d42!important;
    border-color: #e54d42!important;
}

.v-btn.text-transform-none,
.v-tab.text-transform-none {
    text-transform: none;
}

.help-dialog.v-card.v-sheet {
    color: #333;
    padding: 0;
}

.share-icon {
    background: url("../../assets/images/share.svg") no-repeat center;
    display: inline-block;
    opacity: .3;
    height: 26px;
    width: 26px;
}

@media (hover) {
    body .v-application a:hover,
    a:hover,
    .copy-button:hover {
        color: #ff6565;
        text-decoration: none;
    }
}

@media screen and (max-width: 992px) {
    body {
        min-width: 240px;
    }

    .main-content {
        max-width: available;
    }

    .notifications,
    .vue-notification-group {
        margin-top: 20px;
    }
}

@media print {
    .v-main > .v-main__wrap > .app-content.v-card.v-sheet {
        height: 100%;
        margin: 0;
        width: 100%;
    }

    body .v-application a,
    a {
        color: #333;
    }

    .copy-button {
        display: none;
    }
}
